<div class="container">
  <h1>Welcome to Quinstagram!</h1>
  <h3>
    Quinstagram is the new way to share your pictures! Sign up today or continue
    to see what others have posted.
  </h3>
  <div class="pictures">
    <img
      src="../../assets/images/joinFamily.png"
      width="250px"
      height="350px"
    />
    <img src="../../assets/images/Member.png" width="250px" height="350px" />
    <img src="../../assets/images/Incognito.png" width="250px" height="350px" />
  </div>
  <div class="redirects">
    <a href="/register">
      <div class="join">Join the family!</div>
    </a>
    <a href="/login">
      <div class="member">Already a member, login!</div>
    </a>
    <a href="/posts">
      <div class="notLogged">Watch posts without account</div>
    </a>
  </div>
</div>
